<h1>Bienvenido  <%= name %> </h1>
<h2>Aca va el dashboard</h2>
<h3>Se necesita el rol de administrador</h3>

<form action="/logout" method="GET">
    <button type="submit">Cerrar sesión</button>
</form>
